<!DOCTYPE html>
<html>
  <head>
    <title>帖子发包</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <!-- 所有的 css & js 资源 -->
    <link
      rel="stylesheet"
      href="/public/static/kj/element-ui/theme-chalk/index.css"
    />
    <link rel="stylesheet" href="/public/static/sa.css" />
    <script src="/public/static/kj/vue.min.js"></script>
    <script src="/public/static/kj/element-ui/index.js"></script>
    <script src="/public/static/kj/jquery.min.js"></script>
    <script src="/public/static/kj/layer/layer.js"></script>
    <!-- <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script> -->
    <script src="/public/static/kj/wangeditor/wangEditor.js"></script>
    <script src="/public/static/sa.js"></script>
    <script src=""></script>
    <style>
      /* wang富文本编辑器 */
      .editor-item {
        width: 100%;
        height: auto;
      }
      .editor-item .c-label {
        float: left;
      }
      .editor-item .editor-box {
        float: left;
        width: 80%;
        margin-top: 0px;
        margin-left: 0px;
      }
      .editor-item #editor {
        min-height: 300px;
        background-color: #fff;
      }
      .editor-item .w-e-toolbar {
        padding-top: 5px !important;
      }
      /* 尽量小点 */
      .editor-item .editor-box {
        float: left;
        width: 700px;
      }
      .editor-item .editor-box img {
        max-width: 200px !important;
      }
      .w-e-menu {
        z-index: 2 !important;
      }
      .w-e-text-container {
        z-index: 1 !important;
      }
    </style>
  </head>
  <body>
    <!-- 防止margin向下击穿 -->
    <div style="margin-top: -1em;"><br /></div>
    <div class="vue-box" style="display: none;" :style="'display: block;'">
      <!-- 参数栏 -->
      <div class="c-panel">
        <div class="c-title">文章编辑</div>
        <el-form size="mini" v-if="m">
          <!-- <el-form-item label="文章分类：">
            <el-select size="mini" v-model="m.type_id">
              <el-option label="请选择" :value="0" disabled></el-option>
              <el-option
                v-for="type in typeList"
                :label="type.name"
                :value="type._id"
                :key="type._id"
              ></el-option>
            </el-select>
          </el-form-item> -->
          <el-form-item label="文章分类：">
            <el-cascader
              v-model="m.type"
              :options="options"
              :props="{ value: '_id', label: 'name', checkStrictly: true }"
              clearable
            ></el-cascader>
          </el-form-item>
          <el-form-item label="文章标题：">
            <el-input
              size="mini"
              v-model="m.title"
              style="width: 700px;"
              placeholder="例如：2002年的第一场雪"
            ></el-input>
          </el-form-item>
          <el-form-item label="文章概要：">
            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入文章简介"
              v-model="m.description"
              style="width: 700px;"
            >
            </el-input>
          </el-form-item>
          <el-form-item label="文章内容：" class="editor-item">
            <div class="editor-box">
              <div id="editor"></div>
            </div>
          </el-form-item>
          <el-form-item label="是否隐藏：">
            <el-switch
              v-model="m.is_public"
              :active-value="1"
              :inactive-value="2"
              inactive-color="#ff4949"
            ></el-switch>
            <span style="color: #999;" v-if="m.is_public==1">正常</span>
            <span style="color: #999;" v-else>禁用</span>
          </el-form-item>
          <el-form-item label="&emsp;">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="ok"
              >确定</el-button
            >
          </el-form-item>
          <div style="margin-top: 10px;"></div>
        </el-form>
      </div>

      <!-- 给wangEditor打一波广告 -->
      <div class="c-panel" style="background-color: rgba(0, 0, 0, 0);">
        wangEditor：<el-link
          type="primary"
          href="http://www.wangeditor.com/"
          target="_blank"
        >
          基于javascript和css开发的 Web富文本编辑器， 轻量、简洁、易用、开源免费
        </el-link>
      </div>
    </div>
    <!-- <script src="/public/monidata/article/data-list.js"></script> -->
    <script type="text/javascript">
      // 创建一个空的 m
      function create_m() {
        return {
          art_id: `{{article._id.toString()}}` || '',
          type_id: `{{article.category.toString()}}` || 0,
          title: `{{article.title}}` || '',
          description: `{{article.description}}` || '',
          content: `{{article.content.toString()}}` || '',
          is_public: Number(`{{article.is_public}}`) || 1,
          type: `{{article.typearr}}`.split(',') || [],
        };
      }
      // 创建编辑器
      function create_editor(content) {
        var E = window.wangEditor;
        window.editor = new E('#editor');

        editor.customConfig.menus = [
          'head',
          'fontSize',
          'fontName',
          'italic',
          'underline',
          'strikeThrough',
          'foreColor',
          'backColor',
          'link',
          'list',
          'justify',
          'quote',
          'emoticon',
          'image',
          'video', // 插入视频
          'table',
          'code',
          'undo',
          'redo', // 重复
        ];
        // editor.customConfig.debug = true; // debug模式
        // editor.customConfig.uploadFileName = 'file'; // 图片流name
        // editor.customConfig.withCredentials = true; // 跨域携带cookie
        // editor.customConfig.uploadImgShowBase64 = true; // 使用 base64 保存图片
        editor.customConfig.debug = true;
        //配置上传图片的接口api
        editor.customConfig.uploadImgServer = '/admin/upload';
        //图片大小限制为 5M
        editor.customConfig.uploadImgMaxSize = 5 * 1024 * 1024;
        // 限制一次最多上传 10 张图片
        editor.customConfig.uploadImgMaxLength = 10;
        //配置文件参数名（这个参数必需配置，后台用这个值接收图片）
        editor.customConfig.uploadFileName = 'file';
        //隐藏网络图片tab
        editor.customConfig.showLinkImg = false;
        //设置上传图片的header
        editor.customConfig.uploadImgHeaders = {
          authorization: 'Bearer ' + localStorage.token,
          enctype: 'multipart/form-data',
        };
        //监听函数在上传图片的不同阶段做相应处理
        editor.customConfig.uploadImgHooks = {
          success: function (xhr, editor, result) {
            console.log('图片上传并返回结果,图片插入成功');
          },
          fail: function (xhr, editor, result) {
            console.log('图片上传并返回结果，但图片插入错误');
          },
          error: function (xhr, editor) {
            console.log('图片上传出错');
          },
          timeout: function (xhr, editor) {
            console.log('图片上传超时');
          },
          customInsert: function (insertImg, result, editor) {
            console.log(' 图片上传并返回结果');
            var url = result.data;
            insertImg(url);
          },
        };
        editor.create(); // 创建
        editor.txt.html(content); // 为编辑器赋值
      }
    </script>
    <script>
      var app = new Vue({
        el: '.vue-box',
        delimiters: ['$$', '$$'],
        data: {
          art_id: `{{article._id}}`, // 从url中获取传值
          m: create_m(),
          typeList: [],
          options: [],
          textarea2: '',
        },
        methods: {
          // 分类刷新
          f5: function () {
            sa.ajax(
              '/api/ceteapi',
              function (res) {
                this.options = res.data; // 数据
              }.bind(this),
              { type: 'get' }
            );
          },
          // 提交
          ok: function () {
            // 开始增加或修改

            this.m.content = editor.txt.html();
            if (this.art_id == '') {
              sa.ajax(
                '/admin/sa-html/article/art-add',
                this.m,
                function (res) {
                  sa.alert(
                    '增加成功',
                    function () {
                      this.m = create_m();
                      editor.txt.html(''); // 图文介绍
                    }.bind(this)
                  );
                }.bind(this)
              );
            } else {
              sa.ajax(
                '/admin//sa-html/article/art-edit',
                this.m,
                function (res) {
                  sa.alert(
                    '修改成功',
                    function () {
                      parent.app.f5();
                      sa.closeCurrIframe();
                    }.bind(this)
                  );
                }.bind(this)
              );
            }
          },
        },
        mounted: function () {
          // 如果是添加
          if (this.art_id == '') {
            create_editor(this.m.content); // 创建富文本编辑器
          } else {
            // id 非 0 代表 是要修改
            // mockData.data.forEach(
            //   function (item) {
            //     if (item.id == this.id) {
            //       this.m = item;
            //     }
            //   }.bind(this)
            // );
            create_editor(this.m.content); // 创建富文本编辑器
          }
        },
        created: function () {
          this.f5();
        },
      });
      console.log(`{{article.typearr}}`.split(','));
    </script>
  </body>
</html>
