<!DOCTYPE html>
<html>
  <head>
    <title>帖子发包</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <!-- 所有的 css & js 资源 -->
    <link
      rel="stylesheet"
      href="/public/static/kj/element-ui/theme-chalk/index.css"
    />
    <link rel="stylesheet" href="/public/static/sa.css" />
    <script src="/public/static/kj/vue.min.js"></script>
    <script src="/public/static/kj/element-ui/index.js"></script>
    <script src="/public/static/kj/jquery.min.js"></script>
    <script src="/public/static/kj/layer/layer.js"></script>
    <!-- <script src="/public/static/kj/wangeditor/wangEditor.js"></script> -->
    <script src="/public/static/sa.js"></script>
    <script src="/public/ueditor/ueditor.config.js"></script>
    <script src="/public/ueditor/ueditor.all.min.js"></script>
    <script src="/public/ueditor/lang/zh-cn/zh-cn.js"></script>
    <style>
      /* wang富文本编辑器 */
      .editor-item {
        width: 100%;
        height: auto;
      }
      .editor-item .c-label {
        float: left;
      }
      .editor-item .editor-box {
        float: left;
        width: 80%;
        margin-top: 0px;
        margin-left: 0px;
      }
      .editor-item #editor {
        min-height: 300px;
        background-color: #fff;
      }
      .editor-item .w-e-toolbar {
        padding-top: 5px !important;
      }
      /* 尽量小点 */
      .editor-item .editor-box img {
        max-width: 200px !important;
      }
      .w-e-menu {
        z-index: 2 !important;
      }
      .w-e-text-container {
        z-index: 1 !important;
      }
    </style>
  </head>
  <body>
    <!-- 防止margin向下击穿 -->
    <div style="margin-top: -1em;"><br /></div>
    <div class="vue-box" style="display: none;" :style="'display: block;'">
      <!-- 参数栏 -->
      <div class="c-panel">
        <div class="c-title">文章编辑</div>
        <el-form size="mini" v-if="m">
          <el-form-item label="文章分类：">
            <el-cascader
              v-model="m.type"
              :options="options"
              :props="{ value: '_id', label: 'name', checkStrictly: true }"
              clearable
            ></el-cascader>
          </el-form-item>
          <el-form-item label="文章标题：">
            <el-input
              size="mini"
              v-model="m.title"
              style="width: 700px;"
              placeholder="例如：2002年的第一场雪"
            ></el-input>
          </el-form-item>
          <el-form-item label="文章概要：">
            <el-input
              type="textarea"
              :rows="2"
              placeholder="请输入文章简介"
              v-model="m.description"
              style="width: 700px;"
            >
            </el-input>
          </el-form-item>
          <el-form-item label="文章内容：" class="editor-item">
            <div class="editor-box">
              <div id="editor" v-model="m.content"></div>
            </div>
          </el-form-item>
          <el-form-item label="是否隐藏：">
            <el-switch
              v-model="m.is_public"
              :active-value="1"
              :inactive-value="2"
              inactive-color="#ff4949"
            ></el-switch>
            <span style="color: #999;" v-if="m.is_public==1">正常</span>
            <span style="color: #999;" v-else>禁用</span>
          </el-form-item>
          <el-form-item label="&emsp;">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="ok"
              >确定</el-button
            >
          </el-form-item>
          <div style="margin-top: 10px;"></div>
        </el-form>
      </div>
    </div>
    <script type="text/javascript">
      var ue = UE.getEditor('editor');

      // 创建一个空的 m
      function create_m() {
        return {
          art_id: `{{article._id.toString()}}` || '',
          type_id: `{{article.category.toString()}}` || 0,
          title: `{{article.title}}` || '',
          description: `{{article.description}}` || '',
          content: `{{article.content.toString()}}` || '',
          is_public: Number(`{{article.is_public}}`) || 1,
          type: `{{article.typearr}}`.split(',') || [],
        };
      }
    </script>
    <script>
      var app = new Vue({
        el: '.vue-box',
        delimiters: ['$$', '$$'],
        data: {
          art_id: `{{article._id}}`, // 从url中获取传值
          m: create_m(),
          typeList: [],
          options: [],
          textarea2: '',
        },
        methods: {
          // 分类刷新
          f5: function () {
            sa.ajax(
              '/api/ceteapi',
              function (res) {
                this.options = res.data; // 数据
              }.bind(this),
              { type: 'get' }
            );
          },
          // 提交
          ok: function () {
            // 开始增加或修改

            this.m.content = ue.getContent();
            if (this.art_id == '') {
              sa.ajax(
                '/admin/sa-html/article/art-add',
                this.m,
                function (res) {
                  sa.alert(
                    '增加成功',
                    function () {
                      this.m = create_m();
                      ue.setContent(''); // 图文介绍
                    }.bind(this)
                  );
                }.bind(this)
              );
            } else {
              sa.ajax(
                '/admin//sa-html/article/art-edit',
                this.m,
                function (res) {
                  sa.alert(
                    '修改成功',
                    function () {
                      parent.app.f5();
                      sa.closeCurrIframe();
                    }.bind(this)
                  );
                }.bind(this)
              );
            }
          },
        },
        mounted: function () {
          // 如果是添加
          // if (this.art_id == '') {
          //   create_editor(this.m.content); // 创建富文本编辑器
          // } else {
          //   // id 非 0 代表 是要修改
          //   // mockData.data.forEach(
          //   //   function (item) {
          //   //     if (item.id == this.id) {
          //   //       this.m = item;
          //   //     }
          //   //   }.bind(this)
          //   // );
          //   create_editor(this.m.content); // 创建富文本编辑器
          // }
        },
        created: function () {
          this.f5();
          setTimeout(() => {
            ue.setContent(`{{article.content.toString()}}`);
          }, 500);
        },
      });
    </script>
  </body>
</html>
